@media (min-width:1050px) {
    .header-item {
    
        &.active {
           border-top: 6px solid $clrSeaBlue;
        }
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: em(0px) em(20px);
    min-height: 100px;

    .header-left {
        font-size: em(23px);

    }

    .header-right {
        justify-content: end;
        flex-grow: 1;
        font-size: em(23px);
        gap: em(20px);
        text-transform: capitalize;
        
        .header-item {
            padding: em(29px) em(15px);
            cursor: pointer;

        }

    }

}

.border {
    display: flex;
    border-bottom: 1.5px solid $clrLightGray;
}

@media (max-width:1050px) {
    header {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        padding: em(20px) em(20px);

     
        .header-right {
            gap: em(0px);
            
            .header-item {
                padding: em(20px) em(10px);
    
                &.active {
                    border-bottom: 6px solid $clrSeaBlue;
                }
            }
        }
    }
}

@media (max-width:650px) {
    header {
        padding: em(20px) em(5px);
    
        .header-right {
            gap: em(0px);
            
            .header-item {
                padding: em(20px) em(5px);

            }
        }
    }
}