header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: em(0px) em(20px);
    min-height: 100px;

    .header-left {
        font-size: em(23px);

    }

    .header-right {
        justify-content: end;
        flex-grow: 1;
        font-size: em(23px);
        gap: em(20px);
        text-transform: capitalize;
        
        .header-item {
            padding: em(29px) em(15px);
            cursor: pointer;

            &.active {
               border-top: 6px solid $clrSeaBlue;
            }
        }

    }

}

.border {
    display: flex;
    border-bottom: 1.5px solid $clrLightGray;
}