header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: em(15px) em(25px);
    min-height: 100px;

    .header-left {
        font-size: em(23px);

    }

    .header-right {
        justify-content: end;
        flex-grow: 1;
        font-size: em(23px);
        gap: em(20px);
        text-transform: capitalize;

        .header-item {
            cursor: pointer;
        }

    }

}

.border {
    display: flex;
    border-bottom: 1.5px solid $clrLightGray;
}