.main-layout-big-img-hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: $clrPB;
    color: white;
    background-image: url(../../images/background-stars.svg);
}

.main-layout {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;


    .main-content-right-side {
        display: flex;
        flex-direction: column;
        max-width: em(350px);
        gap: em(8px);
        text-align: start;
        flex-grow: 1;

        p {
            text-align: start;
            font-family: $clrSpartan;
        }

        .wiki {
            gap: em(5px);
            align-items: center;

            img {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }

        .right-side-down-container {
            display: flex;
            flex-direction: column;
            gap: em(15px);

            .right-down-item {
                display: flex;
                justify-content: space-around;
                border: 1.5px solid #393950;
                padding: em(13.5px) em(15px);
                align-items: center;
                cursor: pointer;

                &.active {
                    background-color: $clrSeaBlue;
                }

                &:hover {
                    background-color: $clrSeaBlue;
                }

                &.Venus {

                    &.active {
                        background-color: $clrY;
                    }

                    &:hover {
                        background-color: $clrY;
                    }

                }

                &.Earth {

                    &.active {
                        background-color: $clrPurple;
                    }

                    &:hover {
                        background-color: $clrPurple;
                    }

                }

                &.Mars {

                    &.active {
                        background-color: $clrDarkOrange;
                    }

                    &:hover {
                        background-color: $clrDarkOrange;
                    }

                }

                &.Jupiter {

                    &.active {
                        background-color: $clrRedOrange;
                    }

                    &:hover {
                        background-color: $clrRedOrange;
                    }

                }

                &.Saturn {

                    &.active {
                        background-color: $clrLightOrange;
                    }

                    &:hover {
                        background-color: $clrLightOrange;
                    }

                }

                &.Uranus {

                    &.active {
                        background-color: $clrSeaBlueLight;
                    }

                    &:hover {
                        background-color: $clrSeaBlueLight;
                    }

                }

                &.Neptune {

                    &.active {
                        background-color: $clrLightBlue;
                    }

                    &:hover {
                        background-color: $clrLightBlue;
                    }

                }

                p {
                    flex-grow: 1;
                }
            }

        }

    }

}


@media (max-width:1050px) {
    .main-layout {
        // flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;


        .main-content-right-side {
            padding: em(15px) em(28px);
            display: flex;
            flex-direction: row;
            min-width: 100%;
            gap: em(8px);
            
            .container {
                max-width: 45%;
                align-self: flex-end;
            }
        }

        .right-side-down-container {
            flex-grow: 1;
            align-self: flex-end;
        }


    }
}