// Colors
// Primary
$clrWhite: #FFFFFF; // white
$clrPB: #070724; // purpule blue
$clrDarkGray: #38384F;
$clrLightGray: #838391;
$clrSeaBlue: #419EBB;
$clrY: #EDA249;
$clrPurple: #6F2ED6;
$clrDarkOrange: #D14C32;
$clrRedOrange: #D83A34;
$clrLightOrange: #CD5120;
$clrSeaBlueLight: #1EC2A4;
$clrLightBlue: #0d35f0;
// Breakpoints
$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;


$clrSpartan: "League Spartan";
$clrAntonio: "Antonio";